p This lure does this.  It is awesome.  Watch it catch fish.  Watch it move.  Wow is it awesome!  You not only want to get this lure - you NEED to have it!
p It is best for bass, pike....
p Check out the kill dot
p PRO-TIP!  Bend the bill up for it to dive deeper.
p What's on the end of your rod?  It better be a mean lure.
