=form_for @lure_type, :html => {multipart: true} do |form|

  div
    =form.label :name
    =form.text_field :name

  div
    =form.label :image
    =form.file_field :image
    - if @lure_type.image.present?
      br
      =image_tag @lure_type.image.url.to_s, size: "200x100"
      | (not actual size)

  div
    =form.label :description
    br
    =form.text_area :description

  div
    =form.label 'Length (in)'
    =form.text_field :length, { size: 7 }

  div
    =form.label 'Weight (oz)'
    =form.text_field :weight, { size: 7 }

  div
    =form.label 'Depth (feet)'
    =form.text_field :depth, { size: 7 }

  div
    =form.label "Hook"
    =form.collection_select :hook_id, Hook.all, :id, :size, include_blank: true
    
  div
    =form.label "Bill"
    =form.collection_select :bill_id, Bill.all, :id, :material, include_blank: true

  =form.submit
