@import "bourbon/bourbon";
@import "neat/neat";

@font-face {
  font-family: aml_angry_font;
  src: url('fonts/BLUEHIGL.TTF');
}

@font-face {
  font-family: aml_header_font;
  src: url('fonts/CFB1 American Patriot Normal.ttf');
  //src: url('fonts/BLUEHIGL.TTF');
}

@font-face {
  font-family: aml_default_font;
  src: url('fonts/ArchitectsDaughter.ttf');
}

a {
  color: #000000;
  text-decoration: none;
}

a:hover {
  @include transition(all 500ms ease-in-out);
  text-shadow: 1px 1px #ffffff;
}

.body p {
  //color: #b16565;
  text-shadow: 1px 0px #ddd;
}

#tips ul li {
  color: #b16565;
  text-shadow: 1px 0px #ddd;
}

.body {
  font-family: aml_default_font, Verdana;
  margin: 20px;
  @include background-image(linear-gradient(top,  #ffffff 0%, #8e857f 18%, #8e857f 82%, #000000 100%));
}

.notice {
  color: #000000;
  text-shadow: 1px 1px #00cc33;
}

.alert {
  color: #ffffff;
  text-shadow: 1px 1px #00cc33;
}

.button {
  -moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
  -webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
  box-shadow:inset 1px 1px 0px 0px #b16565;
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #b8b4b8), color-stop(1, #616161) );
  background:-moz-linear-gradient( center top, #b8b4b8 5%, #616161 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#b8b4b8', endColorstr='#616161');
  background-color:#b8b4b8;
  -webkit-border-top-left-radius:20px;
  -moz-border-radius-topleft:20px;
  border-top-left-radius:20px;
  -webkit-border-top-right-radius:20px;
  -moz-border-radius-topright:20px;
  border-top-right-radius:20px;
  -webkit-border-bottom-right-radius:20px;
  -moz-border-radius-bottomright:20px;
  border-bottom-right-radius:20px;
  -webkit-border-bottom-left-radius:20px;
  -moz-border-radius-bottomleft:20px;
  border-bottom-left-radius:20px;
  text-indent:0px;
  border:1px solid #dcdcdc;
  display:inline-block;
  height:35px;
  line-height:30px;
  width:120px;
  text-decoration:none;
  text-align:center;
}
.button:hover {
  background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #616161), color-stop(1, #b8b4b8) );
  background:-moz-linear-gradient( center top, #616161 5%, #b8b4b8 100% );
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#616161', endColorstr='#b8b4b8');
  background-color:#616161;
}.button:active {
  position:relative;
  top:1px;
}

// MAIN LAYOUT

div.wrapper {
  @include outer-container;
}

div.home-header {
  @include span-columns(12);
  text-align: center;
}

div.menubar {
  @include span-columns(12);
  text-align: right;
  float: none;
}

div.content {
  @include outer-container;
}

//
// static/home
//

div.home-slider {
}

div.home-section-left {
  @include span-columns(4);
  text-align: center;
}

div.home-section-middle {
  @include span-columns(4);
  text-align: center;
}

div.home-section-right {
  @include span-columns(4);
  @include omega;
  text-align: center;
}

div.home-quote-head {
  @include span-columns(3);
  text-align: right;
}

div.home-quote-text {
  @include span-columns(6);
  text-align: left;
  @include omega;
}

div.connect-social {
  @include span-columns(4 of 4);
  text-align: center;
  padding: 5px;
}

div.connect-bottom {
  @include span-columns(4 of 4);
  text-align: center;
  @include omega;
  padding-top: 10px;

  a:hover {
    @include transition(all 500ms ease-in-out);
    text-shadow: 1px 1px #8e857f;
  }

}

//
// lure_types/dashboard
//

div.lure-dashboard {
  @include span-columns(4);
  @include omega(3n);
  text-align: center;

  a:hover {
    @include transition(all 500ms ease-in-out);
    text-shadow: 1px 1px #8e857f;
  }

}

//
// lure_types/specifiations
//

div.lure-specs {
  @include span-columns(3);
  @include omega(4n);
  text-align: center;

  padding-top: 20px;
}

//
// lure_types/description
//

div.lure-description-left {
  margin: -17px 10px 0 10px;
  position: absolute;
  text-align:justify;
  @include span-columns(5);
  height: 320px;
  overflow-y: scroll;
  color: #000000;
}

div.lure-description-right {
  @include span-columns(7);
  float:right;
  @include omega;
}

//
// lure_types/edit
//

div.lure-edit {
  @include span-columns(6);
  @include omega(2n);
}

//
// lure_types/show
//

div.colors-left {
  text-align: center;
  min-width: 650px;
}

div.colors-right {
  box-shadow: 1px 1px 10px 1px;
  float: right;
  margin: 2% 0 0 0;
  min-width: 260px;
}

//
// login : devise/sessions/new
//

div.login {
  text-align: center;
}

div.login-email {
  @include span-columns(6);
  text-align: right;
}

div.login-password {
  @include span-columns(6);
  @include omega;
  text-align: left;
}

//
// AMMS layout
//

div.left-nav {
  @include span-columns(2);
  text-align: center;
}

////////

div.one { @include span-columns(1); }
div.two { @include span-columns(2); }
div.three { @include span-columns(3); }
div.four { @include span-columns(4); }
div.five { @include span-columns(5); }
div.six { @include span-columns(6); }
div.seven { @include span-columns(7); }
div.eight { @include span-columns(8); }
div.nine { @include span-columns(9); }
div.ten { @include span-columns(10); }
div.eleven { @include span-columns(11); }
div.twelve { @include span-columns(12); }

//////////////////////////////////////

.shadow {
  color: #000000;
  text-shadow: 1px 1px #ffffff
}

h1 {
  font-family: aml_angry_font, Verdana;
  font-size: 64px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

.body h2 {
  font-family: aml_header_font, Verdana;
  font-size: 48px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

.body h3 {
  font-family: aml_header_font, Verdana;
  font-size: 42px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

.body h4 {
  font-family: aml_header_font, Verdana;
  font-size: 36px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

.body h5 {
  font-family: aml_header_font, Verdana;
  font-size: 32px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

.body h6 {
  font-family: aml_header_font, Verdana;
  font-size: 22px;
  font-weight: normal;
  margin-top: 10px;
  margin-bottom: 10px;
}

.underline {
  border-bottom: 1px solid #000000;
  width: 95%;
}

table {
  border-collapse: collapse;
  box-shadow: 10px 10px 5px #888888;
  border:1px solid #000000;
}

table th {
  font-family: aml_header_font;
  font-size: 20px;
  border:1px solid #000000;
  border-width:0px 1px 1px 0px;
  margin: 0;
  @include background-image(linear-gradient(top,  #ffcc99 0%, #cca37a 100%));
  padding: 3px;
}

table td {
  font-family: aml_default_font;
  border:1px solid #000000;
  border-width:0px 1px 0px 0px;
  color: #000000; //#b16565;
  @include background-image(linear-gradient(top,  #ffffff 0%, #ffcc99 100%));
  padding: 5px;

  a:hover {
    @include transition(all 500ms ease-in-out);
    text-shadow: 1px 1px #8e857f;
  }

}

////////////////////////////////////////////
// HEADER
////////////////////////////////////////////

.kpanel {
  @include background-image(linear-gradient(top, #8e857f 0%, #eaeaea 28%, #eaeaea 95%, #ffffff 100%));
  margin: 20px;
  background-color: #eaeaea;
  padding: 1px;
  box-shadow: 0px 0px 10px 0px;
}

////////////////////////////////////////////
// CONTENT
////////////////////////////////////////////

.content {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

////////////////////////////////////////////
// FOOTER
////////////////////////////////////////////

.footer {
  background-color: #000000;
  text-align:center;
  margin-top:30px;
  margin-left:-20px;
  margin-right:-20px;
  margin-bottom:-20px;
  padding:4.5px 0 1px;
  border-top:2px solid #dfdfdf;
  border-top-style: groove;
}

.footer p {
  margin:16px 0;
  font-size:12px;
  color: #ffffff;
}
