@import "compass";

@font-face {
  font-family: aml_header_font;
  src: url('fonts/BLUEHIGL.TTF');
}

@font-face {
  font-family: aml_default_font;
  src: url('fonts/CFB1 American Patriot Normal.ttf');
}

a:link, a:hover {
  color: #B114E4;
}

a:hover {
  color: #B114E4;
}

p.customfont { 
  font-family: aml_default_font, Verdana;
  font-size: 18px;
  line-height: 135%
}

.bg_underwater {
  background-image: url("underwater.png");
  background-size:cover;
}

.body {
  font-family: aml_default_font, Verdana;
  margin: 20px;

 background-color: #8e857f;
 @include filter-gradient(#8e857f, #cca37a, vertical);
 @include background-image(linear-gradient(top,  #8e857f 0%,#eaeaea 20%,#eaeaea 94%,#8e857f 100%));

}

.amlfont {
  font-family: aml_header_font, Verdana;
  font-weight: normal;
}

.shadow {
  color: #000000;
  text-shadow: 1px 1px #ffffff
}

.body h1 {
  font-size: 64px;
  font-weight: normal;
}

.body h2 {
  font-size: 48px;
  font-weight: normal;
}

.body h3 {
  font-size: 42px;
  font-weight: normal;
}

.body h4 {
  font-size: 36px;
  font-weight: normal;
}

.body h5 {
  font-size: 32px;
  font-weight: normal;
}

.body h6 {
  font-size: 22px;
  font-weight: normal;
}

.underline {
  border-bottom: 1px solid #000000;
  width: 95%;
}

.wrapper {
  margin: 0 auto;
  #width: 720px;
}

table p {
  font-size: 16px;
  margin: 0;
}

////////////////////////////////////////////
// HEADER
////////////////////////////////////////////

.home-header {
  text-align: center;
  padding: 20px;
}

.home-header .main-nav{
  top:260px;
  left:10px;
  width:100%;
  float:left;
}
.home-header .main-nav ul{
  margin-top: 5px;
}
.home-header .main-nav ul li{
  list-style:none;
  display:inline;
  padding: 10px;
}
.home-header .main-nav ul li {
  color:#222222;
  font-size:18px;
  text-decoration:none;
  padding: 10px;
  text-shadow: 1px -1px 0 #aaaaaa;
}

.home-header .main-nav ul li {
  #color:#b16565;
  color:#00000;
  text-shadow: 1px -1px 0 #00e1e1;
}

.home-header .login-nav {
  position: relative;
  top: 1px;
  width: 365px;
  float: right;
  text-align: right;
  right: 70px;
  margin-right: -10px;
}

.home-header .login-nav ul {
}

.home-header .login-nav ul li {
  list-style:none;
  display:inline;
  padding: 10px;
}

.home-header .login-nav ul li a {
  color:#222222;
  font-size:14px;
  text-decoration:none;
}

////////////////////////////////////////////
// CONTENT
////////////////////////////////////////////

.content {
  position: relative;
  margin: 0 auto;
  width: 100%;
}

#slider-home { height: 450px; overflow:hidden; }
#slider-home .frame { position: absolute; margin-left: 55px; }
#slider-home .viewport { float: left; width: 854px; height: 371px; overflow: hidden; position: relative; left: 0px; top: -0px; margin-top: 23px; margin-left: 43px; box-shadow: 0px 0px 10px 1px; }
#slider-home .buttons { position: relative; display: block; margin: 30px 10px 0 0; float: left; }
#slider-home .buttons.prev { background:url("carousel/arrow-prev.png") no-repeat; width: 24px; height: 43px; left: 49px; top: 155px; }
#slider-home .buttons.next { background:url("carousel/arrow-next.png") no-repeat; width: 24px; height: 43px; left: 4px; top: 155px; }
#slider-home .disable { visibility: hidden; }
#slider-home .overview { list-style: none; position: absolute; padding: 0; margin: 0; left: 0; top: 0; }
#slider-home .overview li { float: left; margin: 0 20px 0 0; padding: 0px; height: 121px; width: 900px;}

#slider-tom { overflow:hidden; }
#slider-tom .viewport { float: left; width: 330px; height: 330px; overflow: hidden; position: relative; left: 0px; top: -0px; margin-top: 90px; margin-left: 43px; }
#slider-tom .overview { list-style: none; position: absolute; padding: 0; margin: 0; left: 0; top: 0; }
#slider-tom .overview li { float: left; margin: 0 20px 0 0; padding: 0px; height: 121px; width: 900px;}

// Easy Tabs
.etabs { margin: 0; padding: 0; }
.tab { display: inline-block; zoom:1; *display:inline; background: #eee; border: solid 1px #999; border-bottom: none; -moz-border-radius: 4px 4px 0 0; -webkit-border-radius: 4px 4px 0 0; }
.tab a { font-size: 14px; line-height: 2em; display: block; padding: 0 10px; outline: none; }
.tab a:hover { text-decoration: underline; }
.tab.active { background: #fff; padding-top: 6px; position: relative; top: 1px; border-color: #666; }
.tab a.active { font-weight: bold; }
.tab-container .panel-container { background: #fff; border: solid #666 1px; padding: 10px; -moz-border-radius: 0 4px 4px 4px; -webkit-border-radius: 0 4px 4px 4px; }

////////////////////////////////////////////
// FOOTER
////////////////////////////////////////////

.footer {
  background-color: #000000;
  text-align:center;
  margin-top:30px;
  margin-left:-20px;
  margin-right:-20px;
  margin-bottom:-20px;
  padding:4.5px 0 1px;
  border-top:2px solid #dfdfdf;
  border-top-style: groove;
}

.footer p {
  margin:16px 0;
  font-size:12px;
  color: #ffffff;
}

