
.roundabout-holder {
      list-style: none;
      padding: 0;
      margin: 0;
      height: 250px;
      width: 500px;
}
.roundabout-in-focus {
      cursor: auto;
      height: 200px;
      width: 370px;
      cursor: pointer;
      #background-color: #eaeaea;
      box-shadow: 0px 0px 10px 0px;
}
.roundabout-moveable-item {
      height: 200px;
      width: 370px;
      cursor: pointer;
      background-color: #ffffff;
      #border: 1px solid #999;
}
.roundabout-holder li {
  text-align: center;
}
.roundabout-holder li h6 {
  color: #000000;
}
