@import "bourbon/bourbon";
@import "neat/neat";

.roundabout-holder {
      list-style: none;
      padding: 0;
      margin: 0;
      height: 250px;
      width: 600px;
}
.roundabout-in-focus {
      @include background-image(linear-gradient(top, #8e857f 0%, #eaeaea 28%, #eaeaea 95%, #ffffff 100%));
      cursor: auto;
      height: 300px;
      width: 600px;
      cursor: pointer;
      background-color: #eaeaea;
      border: 1px solid #000000;
      box-shadow: 0px 0px 10px 0px;
}
.roundabout-moveable-item {
      height: 300px;
      width: 600px;
      cursor: pointer;
      background-color: #eaeaea;
      //border: 1px solid #000000;
}
.roundabout-moveable-item div { display: none; }
.roundabout-in-focus div { display: block; }
.roundabout-holder li {
  text-align: center;
}
.roundabout-holder li h6 {
  color: #000000;
}
