=form_for @lure do |form|

  div
    =form.label :name
    =form.text_field :name

  div
    =form.label 'Weight (oz)'
    =form.text_field :weight, { size: 6 }

  div
    =form.label :depth
    =form.text_field :depth, { size: 15 }

  div
    =form.label Color
    =form.collection_select :color_id, Color.all, :id, :name, include_blank: true

  div
    h4 Hooks
    - @lure.hooks.each do |hook|
      p=hook.size
    
  p Add a simple way to easily add and remove hooks

  div
    /= form.fields_for :lure_hooks do |hook_form|

      /= hook_form.select :size, Hook.all.map(&:size)

    p Description of course

  =form.submit
