=form_for @lure, :html => {multipart: true} do |form|

  div
    =form.label "Lure Type"
    =form.collection_select :lure_type_id, LureType.all, :id, :name, include_blank: true

  div
    =form.label :image
    =form.file_field :image
    - if @lure.image.present?
      br
      =image_tag @lure.image.url.to_s, size: "200x100"
      | (not actual size)

  div
    =form.label :code
    =form.text_field :code

  div
    =form.label :active
    =form.check_box :active

  div
    =form.label Color
    =form.collection_select :color_id, Color.all, :id, :name, include_blank: true

  div
    =form.label :store_url
    =form.text_field :store_url

  =form.submit
