<!DOCTYPE html>
<html>
<head>
  <title>Amms</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <table border=1>
    <tr>
      <td valign="top">
        <br>
        <a href="/lure_types"> Lure Types </a><br>
        <a href="/lures"> Lures </a><br>
        <a href="/colors"> Colors </a><br>
        <a href="/hooks"> Hooks </a><br>
      </td>
      <td>
        <%= yield %>
      </td>
    </tr>
  </table>
</body>
</html>
